<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Servers" value="Command,Query,Event,MarketDataFeed"/>
    <add key="DotNetExe" value="dotnet"/>
    <add key="CommandWorkingDirectory" value="C:\TomasAI\IFMAppDir\CommandServer\" />
    <add key="CommandServerDll" value="TomasAI.IFM.Application.Command.Server.dll" />
    <add key="CommandServerType" value="dotnetcore" />
    <add key="QueryWorkingDirectory" value="C:\TomasAI\IFMAppDir\QueryServer\" />
    <add key="QueryServerDll" value="TomasAI.IFM.Application.Query.Server.dll" />
    <add key="QueryServerType" value="dotnetcore" />
    <add key="EventWorkingDirectory" value="C:\TomasAI\IFMAppDir\EventServer\" />
    <add key="EventServerDll" value="TomasAI.IFM.Application.Event.Server.dll" />
    <add key="EventServerType" value="dotnetcore" />
    <add key="MarketDataFeedWorkingDirectory" value="C:\TomasAI\IFMAppDir\MarketDataFeedServer\" />
    <add key="MarketDataFeedServer" value="TomasAI.IFM.MarketDataFeed.Server.exe" />
    <add key="MarketDataFeedServerType" value="dotnetfx" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>